.related-products{
  // background-color: royalblue;
  // height: 20vh;
}


.related-products-header  {
  // border: 2px solid red;
  margin: 1rem 0;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
  }
}


