// 
// COLORS ---------
// 



$background-color: #f9f9f9;
$background-color-01: #f2f2f2;

// Paragraphs
$paragraph-color: #000; // base

// Heading
$heading-color: #000;

// Border 
$border-color-focus: #000;
$border-color: #c5c5c5;
 
// General
$white: #fff;
$black: #000;
$off-black: #303030;
$off-white: #f0f0f0;

$red: #E21717;
$green: #00D84A;
$yellow: rgb(228, 165, 31);
$purple : #5A20CB;
$sky-blue: #23C4ED;
$blue: #2827CC;



$gray-10: #818181;
$gray-20: #b6b6b6;
$gray-01 : #f2f2f2;

$gray-para : #818181;
// $gray-20 : 


// Buttons
$button-color: #101010;
$button-hover: lighten($button-color, 10%);

// Social
$color-facebook: #0078ff;
$color-facebook-hover: darken($color-facebook, 5%);
$color-github: #24292e;
$color-github-hover: lighten($color-github, 5%);

$color-success: #000;

$carousel-one : #CAD5E2;
$carousel-two : pink;

